* {
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
    background-color: white;
}
img {
    width: 100%;
}
.topo {
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #d5d5d5;
}
.container {
    max-width: 1024px;
}
.topo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px;
}
.link-logotipo {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 24px;
    /*margin: 0 40px 0 0;*/
}
.link-titulo span {
    color: #6592c9;
}
.link-topo {
    text-decoration: none;
    color: #3d3d3d;
    text-transform: uppercase;
    padding: 0px 15px 10px 15px;
    /*line-height: 18px;*/
}
.link-topo:hover {
    border-bottom: 3px solid #6592c9;
}
.imagem-titulo-site {
    background-image: url(assets/img-fundo.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-titulo-site {
    color: white;
    background-color: #0a9077b3;
    padding: 0 20px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    font-size: 28px;
    text-align: center;
}
.container-secao {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}
.container-secao h2 {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
}
.container-quartos {
    display: flex;
    justify-content: space-between;
}
.quarto {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #00836a;
    color: #3d3d3d;
}
.quarto a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3d3d3d;
}
.quarto a p {
    text-align: center;
}
.quarto:last-child {
    margin-right: 0px;
}
iframe {
    width: 100%;
}
.descricoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
.descricao-container {
    width: 45%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.descricao-img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left: 10px;
}
.rodape {
    background-color: #49997d;
    color: white;
}
.rodape h4 {
    font-size: 22px;
}
.container-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-rodape {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 23%;
}
.icone-rodape {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.link-info-rodape {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.copyright-rodape {
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 600;
    border-top: 1px solid #3b7863;
    padding: 20px;
}
